{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field %}
{% import "macros/with_errors.html" as macros %}

{% block form %}

<h4>Send password reset instructions</h4>

<form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
  {{ forgot_password_form.hidden_tag() }}
  {{ macros.render_form_field_with_errors(forgot_password_form.email, class_="form-control", required="true") }}
  {{ render_field(forgot_password_form.submit, class_="btn btn-success") }}
</form>
{% include "security/_menu.html" %}

{% endblock %}
