{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field %}
{% import "macros/with_errors.html" as macros %}

{% block form %}

<h4>Reset your password</h4>
<form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form" class="form">
  {{ reset_password_form.hidden_tag() }}
  {{ macros.render_form_field_with_errors(reset_password_form.password, class_="form-control", required="true") }}
  {{ macros.render_form_field_with_errors(reset_password_form.password_confirm, class_="form-control", required="true") }}
  {{ render_field(reset_password_form.submit, class_="btn btn-success") }}
</form>
{% include "security/_menu.html" %}

{% endblock %}
