{% block dropdown %}

{% if not current_user.is_anonymous %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">City staff menu<span class="caret"></span></a>
  <span class="sr-only">Toggle Dropdown</span>
  </a>
  <ul class="dropdown-menu" role="menu">
    {% if current_user.is_admin() %}
    <li><a class="navbar-link" href="{{ url_for('admin.index') }}">Admin</a></li>
    {% endif %}
    <li><a class="navbar-link" href="{{ url_for('users.profile') }}">Profile</a></li>
    <li><a class="navbar-link" href="{{ url_for('security.logout') }}"><i class="fa fa-sign-out"></i> Sign out</a></li>
  </ul>
</li>
{% else %}
<li><a href="{{ url_for('security.login') }}" class="navbar-link js-signin">City staff login</a></li>
{% endif %}

{% endblock %}
