{% import "macros/_renderers.html" as macros %}
{{ signup_form.csrf_token() }}

{% if 'opportunities' in signup_form.errors.keys() %}
<div class="row">
  <div class="col-sm-12">
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span>{{ signup_form.errors['opportunities'][0] }}</span>
    </div>
  </div>
</div>
{% endif %}

{{ macros.render_form_field_with_errors(signup_form.business_name, class_="form-control", placeholder="Business name", required="true") }}
{{ macros.render_form_field_with_errors(signup_form.email, class_="form-control", placeholder="Email address", required="true") }}
{{ macros.render_checkbox_field(signup_form.also_categories, class_="form-checkbox", label_text="Subscribe to updates about similar opportunities")}}

<div class="spacer-10"></div>

<button type="submit" class="btn btn-primary form-control">Subscribe</button>
